/*Custom fonts*/
@font-face {
    font-family: 'HeaderFont'; /*a name to be used later*/
    src: url('BebasNeue-Regular.ttf'); /*URL to font*/
}

.header {
  background: url("buncharecords.jpg") top center;
  padding: 80px; /* some padding */
  font-family: 'HeaderFont';
  text-align: center; /* center the text */
  
  color: #f5f5f5; /* grey text color */
}

/* Increase the font size of the <h1> element */
.header h1 {
  font-size: 55px;
}

.navbar {
	  font-family: 'HeaderFont';
    border:1px solid #333333;
    border-width:0px 0px;
    color: #333333;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

.navbar li{
    display:inline;
}

.navbar a {
    display:inline-block;
    color: #333333;
    padding:15px;
    font-size: 18px;
    text-decoration: none; /*Remove underlines from links*/
}

.navbar a:hover {
	background-color: #f5f5f5; /* Hover color */
  	color: #333333; /* Black text color */
}

/* Ensure proper sizing */
* {
  box-sizing: border-box;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
	font-size: 25px;
	font-family: 'HeaderFont';
	flex: 70%; /* Set the width of the sidebar */
	background-color: #f5f5f5; /* Grey background color */
	padding: 20px; /* Some padding */
}

/* Main column */
.main {
  font-size: 25px;
  font-family: 'HeaderFont';
  flex: 30%; /* Set the width of the main content */
  background-color: white; /* White background color */
  padding: 20px; /* Some padding */
}

/* Column format stuff for location and hours*/
.info {
	display:flex;
	flex-wrap: wrap;
}

.LocationInfo {
	font-size: 18px;
	font-family: 'HeaderFont';
	flex: 70%; /* Set the width of the main content */
	background-color: white; /* White background color */
}
	
.HoursInfo{
	font-size: 18px;
  	font-family: 'HeaderFont';
  	flex: 30%; /* Set the width of the main content */
  	background-color: white; /* White background color */
}
/*------------------------*/

.MonthlyMusic{
    font-family: 'HeaderFont';
    color: #333333;
    list-style:none;
    margin:0;
    padding:10px;
    text-align: left;
}

.MonthlyMusic ul{
  font-size: 25px;
}

.CreateAccount {
  text-align: center;
  font-family: 'HeaderFont';
}


/*---Keep this stuff at the bottom of the page.---*/
.footer {
	font-family: 'HeaderFont';
	color: #f5f5f5;
	text-align: right;
	font-size: 8px;
  	padding: 20px; /* Some padding */
 	background: #333333; /* Grey background */
}

